<% content_for :body_tag do %>
    <body id="articles-index">
<% end %>
<h1>All the World's Articles</h1>
<%= link_to( image_tag('silk_icons/add.png') + ' Create an Article',
    {:action => 'new'},
    {:id => 'create-new', :title => 'Upload an article'}) %>

<% if @articles.size > 0 -%>
<table id="article-list">
  <thead>
    <tr>
      <th class="title-col">Title</th>
      <th class="author-col">Author Name</th>
      <th class="body-col">Body</th>
      <th class="create-date-col">Creation Date</th>
      <th class="action-col">&nbsp;</th>
    </tr>
  </thead>
  
  <% if @articles.size >= 10 -%>
  <tbody class="maxed">
  <% else -%>
  <tbody>
  <% end -%>
  <% @articles.each do |article| %>
    <tr>
      <td class="title-col"><%=h article.title %></td>
      <td class="author-col"><%=h article.author_name %></td>
      <td class="body-col"><%=h truncate(article.body, {100, '...'})  %></td>
      <td class="create-date-col"><%= article.created_at.to_s(:human_with_weekday) %></td>
      <td class="action-col">
        <%= link_to image_tag('silk_icons/zoom.png'),
            {:action => 'show', :id => article},
            {:alt => 'Show', :title => 'View this article'} %>
        <%= link_to image_tag('silk_icons/pencil.png'),
            {:action => 'edit', :id => article},
            {:alt => 'Edit', :title => 'Modify this article'} %>
        <%= link_to(image_tag('silk_icons/bin_closed.png'),
            {:action => 'destroy', :id => article},
            {:confirm => 'Are you sure?', :method => :delete, :alt => 'Delete', :title => 'Delete this article'}) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end -%>

<p id="article-count"><%= pluralize(@articles.size, "article") %>.</p>
