- content_for :subtitle do
  \&hellip; my cousin works for Bit.ly
%ul#options-basic
  %li
    = link_to( image_tag('icons/arrow_left.png') + ' back', |
      session[:last_visited_page], |
      {:title => 'Go back to previous page'}) |
%h1 Editing author
- form_for(@author, :html => {:multipart => true}) do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :photo
    = f.file_field :photo
  %p
    = f.submit 'Update'
