<h1>All the World's Authors</h1>

<ul id="options-basic">
  <li>
  <%= link_to( image_tag('icons/add.png') + ' Add new Author',
    {:action => 'new'},
    {:title => 'Spawn an author', :class => 'top-link'}) %>
  </li>
</ul>

<% if @authors.size > 0 -%>
<table id="general-list">
  <thead>
    <tr>
      <th colspan="5" class="paginate-controller">
        <%= will_paginate @articles %>
      </th>
    </tr>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">
        <p><%= page_entries_info @authors %></p>
      </td>
    </tr>
  </tfoot>

  <tbody>
  <% @authors.each do |author| %>
    <tr>
      <td><%=h author %></td>
      <td class="action-col">
        <%= link_to image_tag('icons/zoom.png'),
            {:action => 'show', :id => author},
            {:alt => 'Show', :title => 'View this author'} %>
        <%= link_to image_tag('icons/pencil.png'),
            {:action => 'edit', :id => author},
            {:alt => 'Edit', :title => 'Modify this author'} %>
        <%= link_to(image_tag('icons/bin_closed.png'),
            {:action => 'destroy', :id => author},
            {:confirm => 'Are you sure?', :method => :delete, :alt => 'Delete', :title => 'Delete this author'}) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else -%>
<p>There are no authors in the database.</p>
<% end -%>
