- title "All Games"

- if @games.size > 0
  .paginate-controller= will_paginate @games
  %table#general-list
    %thead
      %tr
        %th Title
        %th Rating
        %th Date Added
    %tfoot
      %tr
        %td{:colspan => 3}
          = page_entries_info @games
    %tbody
      - for game in @games
        %tr
          //note to self: declarative_authorization is a nightmare to use
          - if game.user == current_user && (permitted_to? :edit, :members_games)
            %td= link_to h(game.title), edit_members_game_path(game), :title => "edit game"
          - else
            %td= h game.title
          %td= h game.rating_name
          %td= h game.created_at.to_s(:human) + " by " + game.user.to_s
- else
  %p There are no games in the database.

%p= link_to "New Game", new_members_game_path
