- title "All Games"

- if @games.size > 0
  .paginate-controller= will_paginate @games
  %table#general-list
    %thead
      %tr
        %th Title
        %th Rating
        %th Date Added
    %tfoot
      %tr
        %td{:colspan => 3}
          = page_entries_info @games
    %tbody
      - for game in @games
        %tr
          %td= link_to game.title, edit_admin_game_path(game), :title => "edit game"
          %td= h game.rating_name
          %td= h game.created_at.to_s(:human) + " by " + game.user.to_s
- else
  %p There are no games in the database.

%p= link_to "New Game", new_admin_game_path
