<div class="cart-title"><%= I18n.t 'layout.cart.title' %></div>
<table>

  <!-- render, like many other rails methods, uses symbols to name parameters,
  rather than relying on the order of parameters to represent their meaning -->
  <%= render(:partial => "cart_item", :collection => cart.items) %>  
  
  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>

<% if @checkout_in_progress -%>
  <%= button_to I18n.t('layout.cart.button.checkout'), :action => 'empty_cart' %>
<% else -%>
  <%= button_to I18n.t('layout.cart.button.checkout'), :action => 'checkout' %>

  <% form_remote_tag :url => { :action => 'empty_cart' } do %>
    <%= submit_tag I18n.t('layout.cart.button.empty') %>
  <% end %>
<% end -%>
