<h1><%= I18n.t 'main.title' %></h1>

<% if @index_count > 5 %>
<p>you've visited this page <%= pluralize(@index_count, "time") %>!</p>
<% end %>

<% @products.each do |product| -%>
  <div class="entry"> 
    
    <% form_remote_tag :url => { :action => 'add_to_cart', :id => product } do %>
      <%= image_submit_tag(product.image_url) %>
    <% end %>
    
    <h3><%=h product.title %></h3>
    <p><%= product.description %></p>
    <div class="price-line">
      <!-- helper number_to_currency is defined in or inherited in the class
      that uses this file, into which the appropriate helpers are mixed in -->
      <span class="price"><%= number_to_currency(product.price) %></span>
      <!-- Embedding knowledge of the currency concept into the view -->
      
      <!-- form remote tag accepts a url hash and a block -->
      <% form_remote_tag :url => { :action => 'add_to_cart', :id => product } do %>
        <%= submit_tag I18n.t('main.button.add') %>
      <% end %>
    </div>
  </div>
<% end %>
