<h1>Your Catalog</h1>

<% @products.each do |product| -%>
  <div class="entry">
    <%= image_submit_tag(product.image_url) %>
    <h3><%=h product.title %></h3>
    <p><%= product.description %></p>
    <div class="price-line">
      <!-- helper number_to_currency is defined in or inherited in the class
      that uses this file, into which the appropriate helpers are mixed in -->
      <span class="price"><%= number_to_currency(product.price) %></span>
      <!-- Embedding knowledge of the currency concept into the view -->
      
      <!-- REMEMBER the button_to helper represents an element that will generate a
      POST request -->
      <%= button_to 'Add to Cart', :action => 'add_to_cart', :id => product %>
      <!-- Interesting that it's product and not product.id -->
      
    </div>
  </div>
<% end %>
