<% content_for :body_tag do %>
    <body id="articles-create">
<% end %>

<%= link_to( image_tag('silk_icons/arrow_left.png') + ' list all articles',
    {:action => :index},
    {:id => 'create-new', :title => 'Go back to list of articles', :class => 'top-link'}) %>
<br />
<h1>Creating a New Article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <%= f.label :title %>
  <%= f.text_field :title %><br />
  
  <%= f.label :author_name %>
  <%= f.text_field :author_name %><br />
  
  <%= f.label :body %>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create!' %>

<% end %>
