<% content_for :subtitle do %>
&hellip; what's "Articl" in Spanish anyway?
<% end %>

<ul id="options-basic">
  <li>
  <%= link_to( image_tag('icons/arrow_left.png') + ' list all articles',
    {:action => :index},
    {:title => 'Go back to list of articles', :class => 'top-link'}) %>
  </li>
  <li>
  <%= link_to image_tag('icons/pencil.png') + ' edit',
    {:action => 'edit', :id => @article},
    {:alt => 'Edit', :title => 'Modify this article', :class => 'top-link'} %>
  </li>
  <li>
  <%= link_to(image_tag('icons/bin_closed.png') + ' delete',
    {:action => 'destroy', :id => @article},
    {:confirm => 'Are you sure?', :method => :delete, :alt => 'Delete', :title => 'Delete this article', :class => 'top-link'}) %>
  </li>
  <li>  
  <%= mail_to("",  
    image_tag('icons/email.png') + ' email',
    {:subject => @article.title, :body => @page_url, :class => 'top-link', :title => 'Tell a friend about this article'}) %>
  </li>
</ul>

<h1><%=h @article.title %></h1>

<h3><%=h "by %s. %s since %s." % [@article.author, pluralize(@article.change_count, 'edit'), @article.created_at.to_s(:human)] %></h3>

<%= wrap_links simple_format(h @article.body) %>
